@tailwind base;
@tailwind components;
@tailwind utilities;

.beach-img {
    background-image: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.desert-img {
    background-image: url(https://images.pexels.com/photos/1001435/pexels-photo-1001435.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.forest-img {
    background-image: url(https://i.pinimg.com/564x/12/f5/03/12f503c8509e86941606ef646f016b15.jpg);
}
.snow-img {
    background-image: url(https://images.pexels.com/photos/1571442/pexels-photo-1571442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.mount-img {
    background-image: url(https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&w=600);
}